<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, error!
    </p>
  </header>
  <div style="width: 30%; padding: 4px">
    <div class="card card--primary">
      <header class="card__header">CardTitle</header>
      <div class="card__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Exercitationem, dignissimos!
      </div>
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-right">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, error!
    </p>
  </div>
</section>
