<body>
  <blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam dolorum
      voluptatem, ipsa commodi illum atque eius tenetur dicta porro dolore non
      eligendi animi suscipit quia saepe consequuntur inventore quidem eum.
    </p>
  </blockquote>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p>MOSHIFY COMPANY</p>
      </div>
    </div>
  </footer>
</body>
